/AnalyticsDashboard
/ATF_DashboardDesigner
/Base
/CampaignDesigner
/CaseService
/cliogate
/ContentBuilder
/CalculationIndicator
/CoreForecast
/DesignerTools
/Exchange
/HomePage
/IntegrationV2
/MarketingCampaign
/NUI
/OmnichannelMessaging
/OpenIdAuth
/PivotTable
/RelationshipDesigner
/ServiceDesigner
/ServiceModel
/SspWorkplace
/Tracking
/UIv2
/Workplace
/BpmonlineCloudIntegration
/OrderInvoice
/Portal
/MLangContent
/MarketingSalesOmniService
/InvoiceMobile
/MLOpportunityScoring
/CTIProcessActions
/ProductSpecification
/SalesEnterpriseSoftkey_Obsolete
/OldEmailIntegration
/Specification
/ServiceDefSettings
/WebitelCollaborations
/MLScoring
/Passport
/CTIVirtualProvider
/Message
/SLMITILService
/MLBase
/SiteEventProductOmnichannel
/ProductCatalogueInInvoice
/CampaignElements
/ChangeAdminRightsUserTask
/Completeness
/Problem
/PRMMktgActivitiesPortal
/SiteEvent
/Enrichment
/ContractInOrder
/EntityCollectionUserTasks
/Release
/SSP
/DocumentInInvoice
/KnowledgeBase
/ProductCatalogueInOrder
/ProcessLibrary
/SalesTeamData
/CaseITIL
/CloudEmailService
/OrderInSales
/EmailMessage
/MarketingCalendarNew
/OpportunityInvoice
/Invoice
/MLLeadScoring
/PortalITILService
/Project
/ProcessUserContext
/BulkEmail
/ProductCore
/Order
/MarketingCampaignMobile
/SalesDocument
/SspKnowledgeBase
/SocialMessagePublisher
/CampaignElements.UI
/CoreLeadOpportunity
/GlobalSearch
/Campaigns
/OrderLead
/MobileDesignerTools
/EmailMessageMining
/ProductBase
/GoogleTagManagerMeasurements
/Opportunity
/VisaNotification
/ServiceEnterpriseDefSettings
/Case
/PRMOrder
/EventTracking
/ML
/Timeline
/CaseMobile
/OrderInSales_OperatorSingleWindow
/WebForm
/CTIBase
/Managers
/PRMInvoice
/BaseProcessDesigner
/Base_ENU
/FileImport
/SalesEnterprise
/Custom
/CoreLead
/OrderInSales_OperatorSingleWindow_Softkey_Obsolete
/Translation
/TwitterIntegration
/OAuth20
/OperatorSingleWindow
/Platform
/MLCaseClassification
/EmailMessagePublisher
/SendEmailUserTask
/OAuth20Integration
/BPMS_ENU
/CMDB
/OperatorCustomerEngagementCenter
/Mobile
/EmailsSearch
/PortalMessagePublisher
/ExternalAccess
/ExchangeListener
/PortalCustomerService
/MarketingCommon
/EmailTemplate
/WebServiceUserTask
/CampaignPlannerNew
/MLRegression
/DocumentInContract
/SLM
/OrderInSales_OperatorSingleWindow_Softkey_ENU
/CoreContracts
/DcmDesigner
/Deduplication
/IncidentManagement
/Reports
/OpportunityManagement
/DocumentInProject
/TaskMessagePublisher
/DynamicContent
/PRMPortal
/ESN
/SalesCommerceData
/FastReport
/SalesContracts
/SalesCommon
/MarketingSoftkeyEnu
/WebCaseForm
/FacebookIntegration
/PortalMessage
/Lead
/LinkPreview
/FastReportEngine
/Core
/BaseScoring
/InvoiceInProject
/MessagePublisher
/LDAP
/CallMessagePublisher
/ContractInInvoice
/Mailing
/OSM
/CalendarBase
/WebitelCore
/EmailMining
/ServiceEnterpriseMobile
/ProductCatalogue
/DocumentInOpportunity
/MktgActivitiesPortal
/Base_Obsolete
/PRMBase
/WordReporting
/LocalMessage
/ProductCoreMessagePublishers
/SalesEnterprise_Marketing_ServiceEnt
/PortalMessageFeed
/Document
/WebOrderForm
/SocialNetworkIntegration
/DocumentInOrder
/Wizards
/ActionsDashboard
/WebLeadForm
/ProcessDesigner
/ServiceEnterpriseSoftkey
/Change
/JunkFilter
/SocialMessage
/SalesEnterpriseSoftkey_ENU
/Calendar
/SalesEnterprise_Marketing_ServiceEnterprise
/GlbOpenPopupWindowUserTask

placeholder.txt